<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-arrow-left" aria-hidden="true" (click)="goBack()"></i>
Customer Add
            <div class="card-body">
                <form [formGroup]="customerForm">
                <div class="row pt-2">
                    <div class="col-md-10 d-flex">
                        <div class="col-md-4">
                            <label class="form-label">First Name</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="status" formControlName="firstName" placeholder="Enter First Name"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-10 d-flex">
                        <div class="col-md-4">
                            <label class="form-label">Last Name</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="status" formControlName="lastName" placeholder="Enter Last Name"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-10 d-flex">
                        <div class="col-md-4">
                            <label class="form-label">Email</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" formControlName="email" placeholder="Enter Email"
                                class="form-control">
                        </div>
                    </div>
                </div>
             
                <div class="row pt-2">
                    <div class="col-md-10 d-flex">
                        <div class="col-md-4">
                            <label class="form-label">Phone Number</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text"  formControlName="phoneNumber" placeholder="Enter Phone Number"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-10 d-flex">
                        <button type="button" class="btn btn-info" (click)="saveCustomer()">Save</button>

                        </div>
                        </div>
                </form>
            </div>
        </div>

    </div>
   
</div>