<div class="col-lg-12">
   
    <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">SL.No</th>
          <th scope="col">Coupon Code</th>
          <th scope="col">Reward Name</th>
          <th scope="col">Redemption Date</th>
          <th scope="col">Reward Validity Till</th>
         
      </thead>
      <tbody>
        <tr *ngFor="let item of myrewardsList, index as i">
          <th>{{i+1}}</th>
          <td>{{item.coupon_code}}</td>
          <td>{{item.reward_name}}</td>
          <td>{{item.redemption_date}}</td>
          <td>{{item.reward_validity_till}}</td>
         

        </tr>
        <tr *ngIf="myrewardsList.length == 0">
          <td colspan="6" class="text-center">No Records Found</td>
        </tr>
  
      </tbody>
    </table>
  
  </div>
